header {
    grid-area: cabe;
    position: relative;
    background-color: purple;
}
main { 
    grid-area: prin;
    background-color: rgb(234, 198, 255);
}
footer{
    grid-area: roda;
    background-color: purple;
}
footer{
    text-align: center;
    display: flex;

}
footer li{
    display: inline;
    margin: 0 0 0 100px;
}
footer a{
    text-decoration: none; 
    font-size: 1.4rem;
    color: rgb(0, 0, 0);
    border: solid rgb(255, 255, 255);
    background: rgb(61, 223, 252);
    transition: 1s;
}

body{
    display: grid;
    grid-template-areas:
    " cabe cabe cabe  "
    " prin prin prin "
    " roda roda roda";
    grid-template-columns: 180px auto;
    grid-template-rows: 210px auto 200px;
}
.logo{
    border-radius: 10%;
    transition: 1s;
    width: 8%;
    display: flex;
}

header{
    display: flex;
    padding: 1rem;
    align-items: center;
}
footer{
    display: flex;
    padding: 1rem;
    align-items: center;
}


